@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

.btn {
    display: inline-block;
    padding:.9rem 1.93rem;
    border-radius: 15px;
    font-size: 18px;
    transition: 0.3s;
}

.white-bg {
    background-color: white;
    width: 100%;
    display: relative;
}


/*nav*/

.nav {
    position:relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    background-color: #1f2937;
    margin: 0 auto;
}

.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

.logo {
    display:flex;
    align-items:center;
    cursor: pointer;
}

.logo h3 {
    color: #F5FFF9;
    font-size: 1.55rem;
    margin-left:0.6rem;
}

ul li {
    font-weight:normal;
    font-size: large;
}

.logo img {
    width: 60px;
    margin-top:-0.6rem;    
}

.links ul {
    display:flex;
    align-items: center;
}

.links a {
    color:#e6e6e6;
    margin-left:4.5rem;
    transition: 0.3s;
}

.nav-pages:hover {
    color: white;
    font-size: 110%;
}

.login {
    background-color: black;
}

.login:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    border-radius: 15px;
    color: black;

}

/*title page*/

.banner {
    position:relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../Project-Landing-Page/img/paris.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.big-title {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: white;
    max-width: 81rem;
    align-items: flex-start;
}

h1 {
    font-size: 60px;
    line-height: 1;
    width:100%;
    max-width: 45rem;
}

.quoter {
    font-weight: 300;
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.text {
    margin-top: 3rem;
    max-width: 50%;
    width:100%;
    max-width: 20rem;   
}

.banner .cta {
    margin-top: 2rem;
    background-color: #EEB033;
    color: black;
    transition: 0.45s;
}

.banner .cta:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}

.banner span {
    font-style: italic;
}

/*recipes showcase*/

.recipes-container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}

.section-header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.recipes-img {
    width: 300px;
    height: 300px;
    margin: 1rem;
    border-radius: 2%;
    background-size: cover;
}

.img1 {
    background-image: url(../Project-Landing-Page/img/rata.jpg);
}

.img3 {
    background-image: url(../Project-Landing-Page/img/cheese.jpg);
    background-position: center;
}

